<div>
    <h1>Próximos eventos en Angular2</h1>
    <hr>
    <div class="well hoverwell thumbnail">
        <h2>{{event.name}}</h2>
        <div>Date: {{event.date}}</div>
        <div>Time: {{event.time}}</div>
        <div>Price \${{event.price}}</div>
        <div>
            <span> Ciudad: {{event.location.address}}</span>
            <span>&nbsp;</span>
            <span> País: {{event.location.country}}</span>
            <span>&nbsp;</span>
            <span> Ciudad: {{event.location.city}}</span>
            <span>&nbsp;</span>
        </div>
    </div>
</div>
